
.wrapper-form{
    width: 80%;
    height: calc(100vh - 110px);
    background-color: #1c1a1a;
}

.container-form{
    width: 50%;
    height: 70vh;
    margin: 70px auto 0 auto;
    display: flex;
    justify-content: start;

}
.add-advert{
    width: 100%;
    align-items: start;
    height: 100%;
}
.select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em; width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 10px 0 0 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand { display: none; }
.select-css:hover { border-color: #888; }
.select-css:focus { border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    color: #222;
    outline: none;
}

.add-advert .addData{

}

.container-form .title{
    margin-top: 20px;
}

.container-form input{
    margin: 0;
}

.container-form input:-webkit-autofill,
.container-form input:-webkit-autofill:hover,
.container-form input:-webkit-autofill:focus{
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0 0 #1c1a1a inset;
    transition: background-color 5000s ease-in-out 0s;
}

.container-form .submit{
    border-top: solid 1px #8c8888;
    height: 80px;
    font-size: 20px;
    font-weight: bold;
}

.container-form .submit:hover{
    background-color: rgba(34, 54, 128, 0.6);
    cursor: pointer;
}



.container-form label{
    width: 60%;
    text-align: start;
    margin-left: 30px;
    color: #ccd4dc;
    font-size: 18px;
}

.container-form .files{
    width: 60%;
}

.container-form label span{
    margin-bottom: 20px;
}

.container-form .description{
    width: 80%;
    height: 150px;
    display: flex;
    flex-direction: column;
}

.description textarea{
    font-size: 18px;
    font-family: "Fira Code Light", sans-serif;
    color: #ffffff;
    background-color: rgba(143, 150, 161, 0.6);
    max-width: 100%;
}

.container-form .files input{
    border: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.container-form input:focus {
    border-color: #1fe723;
    transition: 300ms;
}

@media screen and (max-width: 1220px) {
    .wrapper-form{
        width: calc(100vw - 80px);
    }
}

@media screen and (max-width: 800px)
and (min-width:320px){
    .container-form{
        width: 95%;
    }

    .container-form label {
        width: 90%;
        margin-left: 15px;
        color: #ccd4dc;
        font-size: 18px;
    }

    .container-form .files{
        width: 90%;
    }
}
