.sideBar{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c1a1a;
}

.sideBar .title{
    font-size: 30px;
    width: 80%;
    color: white;
    margin-top: 60px;
}

.sideBar .menuHome{
    display: flex;
    align-items: center;
    height: 50px;
    background: linear-gradient(to right, #ff8585, #8f0816);
    border-radius: 10px;
    width: 80%;
    font-size: 20px;
    color: white;
    margin-top: 30px;
}

.sideBar .menuHome a{
    color: white;
}
.sideBar .menuItem a{
    color: #8c8888;
}

.sideBar .menuItem{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #8c8888;
    width: 80%;
    margin-top: 30px;
}

.sideBar .menuHome span{
    color: white;
    font-size: 18px;
    transition: all 500ms;
}

.sideBar .menuItem span{
    font-size: 18px;
    color: #8c8888;
    transition: all 500ms;
}

.sideBar .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px 0 15px;
}

.sideBar a:hover,
.sideBar a:hover span{
    color: white;
    transition: all 500ms;
}

.sideBar a{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1400px)
and (min-width: 767px){

    .sideBar .menuHome{
        font-size: 18px;
    }

    .sideBar .menuItem span{
        font-size: 16px;
    }

    .sideBar .menuItem .icon a{
        justify-content: center;
    }

    .sideBar .icon{
        margin: 0 8px 0 8px;
    }
}

@media screen and (max-width: 1220px) {

    .sideBar{
        width: 80px;
    }
    .sideBar .title{
        font-size: 0;
    }

    .sideBar .menuItem .icon{
        font-size: 40px;

    }

    .sideBar .menuHome {
        width: 60px;
    }

    .sideBar .menuHome .icon{
        font-size: 40px;
        margin: 0 auto;
    }

    .sideBar .menuItem {
        width: 60px;
    }

    .sideBar .menuHome span{
        font-size: 0;
    }

    .sideBar .menuItem span{
        font-size: 0;
    }
    .sideBar .icon{
        margin: 0 8px 0 8px;
    }
}

